.roadmap {
    margin-top: 40px;

    @media (min-width: 992px) {
        margin-top: 310px;
    }

    .desc-area {
        display: flex;
        margin-bottom: 0;
        width: 100%;

        @media (min-width: 992px) {
            margin-bottom: 100px;
        }

        .guide-line {
            width: 198px;

            .line {
                position: relative;
                margin-top: 55px;
                margin-left: 110px;
                width: 2px;
                height: 300px;
                background-color: #fff;
            }
        }

        .title-img {
            margin-left: 5%;
            padding-bottom: calc(45% / 412 * 64);
            width: 45%;
            background-image: url("/assets/images/roadmap.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;

            @media (min-width: 992px) {
                margin-left: 0;
                padding-bottom: 0;
                width: 412px;
                height: 64px;
            }
        }
    }

    .link-area {
        margin-left: 2.5%;
        width: 95%;
    }
}
