@import "src/styles/shared/variables";

.roadmap {
    margin-top: 40px;

    @media (min-width: 992px) {
        margin-top: 310px;

        &.en {
            margin-top: 200px;
        }
    }

    .phone-line {
        margin: 0 auto;
        width: $line-width;
        height: 25px;
        background-color: #fff;
        transform-origin: center top;
    }

    .desc-area {
        display: flex;
        margin-bottom: 20px;
        width: 100%;

        @media (min-width: 992px) {
            margin-top: 0;
            margin-bottom: 100px;
        }

        .guide-line {
            position: relative;
            width: 50%;

            @media (min-width: 992px) {
                width: 198px;
            }

            .line {
                position: absolute;
                top: -200px;
                right: -#{$line-width / 2};
                width: $line-width;
                height: 250px;
                background-color: #fff;
                transform-origin: top center;

                @media (min-width: 992px) {
                    top: -8px;
                    left: 100px;
                    height: 1760px;
                }

                @media (min-width: 1440px) {
                    left: 114px;
                }
            }
        }

        .title-img {
            position: relative;
            margin-left: 5%;
            padding-bottom: calc(45% / 412 * 64);
            width: 45%;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            @media (min-width: 992px) {
                margin-left: 0;
                padding-bottom: 0;
                width: 412px;
                height: 64px;
            }

            @media (min-width: 1440px) {
                margin-left: 15px;
            }

            .star {
                position: absolute;
                top: -6px;
                left: -43px;
                width: 38px;
                height: 38px;
                background-repeat: no-repeat;
                background-size: 100% 100%;

                @media (min-width: 992px) {
                    top: -20px;
                    left: -148px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    .link-area {
        margin-left: 2.5%;
        width: 95%;
    }
}
