// body {
// font-family: '微软雅黑';
// font-family: 'Avenir', Helvetica, Arial, sans-serif;
// font-family: system-ui,PingFang TC,Heiti TC,sans-serif;
// }

html,
body,
.app {
    height: 100%;
    font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "微软雅黑", arial, helvetica, sans-serif;

    // user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.en {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.pre-line {
    white-space: pre-line;
}

@media (max-width: 991.98px) {
    .pc {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .phone {
        display: none !important;
    }
}

.d-none {
    display: none !important;
}

.pointer-events-none {
    pointer-events: none !important;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}
