// * { background-color: rgba(255, 0, 0, 0.2); }
// * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * { background-color: rgba(0, 0, 255, 0.2); }
// * * * * { background-color: rgba(255, 0, 255, 0.2); }
// * * * * * { background-color: rgba(0, 255, 255, 0.2); }
// * * * * * * { background-color: rgba(255, 255, 0, 0.2); }
// * * * * * * * { background-color: rgba(255, 0, 0, 0.2); }
// * * * * * * * * { background-color: rgba(0, 255, 0, 0.2); }
// * * * * * * * * * { background-color: rgba(0, 0, 255, 0.2); }

.preview {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: calc(100% / 1920 * 5244);
    width: 100%;

    // background-image: url("/assets/images/bg.jpg");
    background-image: url("/assets/dev/preview_phone.jpg");
    background-size: 100% auto;

    // background-size: 100% 100%;
    z-index: 0;

    @media (min-width: 992px) {
        background-image: url("/assets/dev/preview_pc.jpg");
        background-position: top center;
        background-size: 1920px auto;
    }
}
