@font-face {
    font-family: "a4-speed";
    src: url("/assets/fonts/A4SPEED-Bold-DAFONT\ TTF.ttf");
}

@font-face {
    font-family: coco;
    src: url("/assets/fonts/Coco-Sharp-Heavy-trial.ttf");
}
