.main-board {
    display: flex;
    align-items: center;
    pointer-events: none;

    .nft-list {
        margin-top: calc(80% / 487 * 52);
        width: 55%;

        .nft-container {
            text-align: center;
            pointer-events: painted;

            .nft-title-board {
                position: absolute;
                top: 0;
                left: 10%;
                padding-bottom: calc(80% / 487 * 52);
                width: 80%;
                background-size: 100% auto;
                filter: contrast(1.2) brightness(-1);
                transform: translateY(-100%);

                .title-text {
                    position: absolute;
                    top: calc(50% - 0.75rem);
                    left: 0;
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: bolder;
                    letter-spacing: 0.5rem;
                    text-align: center;
                    color: #ff46bc;
                    z-index: 1;
                }
            }

            .nft-title {
                padding-top: 0.6rem;
                padding-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: bolder;
                color: #fff;
            }

            .nft-list-container {
                overflow-x: auto;

                .nft-card {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    width: 45%;
                    border-radius: 1rem;

                    &:not(:last-of-type) {
                        margin-right: 3%;
                    }

                    .empty-card {
                        position: relative;
                        padding-bottom: 100%;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.2);

                        &::after {
                            position: absolute;
                            top: calc(50% - 2rem);
                            left: 0;
                            display: block;
                            width: 100%;
                            font-size: 4rem;
                            font-weight: bolder;
                            text-align: center;
                            color: #fff;
                            content: "?";
                            opacity: 0.3;
                        }
                    }

                    .card-pointer-area {
                        position: absolute;
                        top: 0;
                        bottom: 2rem;
                        left: 0;
                        width: 100%;
                        border-radius: 1rem;
                        z-index: 2;
                        cursor: pointer;

                        &.selected {
                            background-color: rgba(0, 0, 0, 0.3);
                            backdrop-filter: blur(3px);

                            &::after {
                                position: absolute;
                                top: calc(50% - 1.5rem);
                                left: calc(50% - 1.5rem);
                                display: block;
                                width: 3rem;
                                font-size: 2.4rem;
                                font-weight: bolder;
                                text-align: center;
                                line-height: 3rem;
                                color: #fff;
                                border: 4px solid #fff;
                                border-radius: 3rem;
                                content: "✓";
                            }
                        }
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .nft-name {
                        padding: 0.5rem 0;
                        color: #a71fc1;
                        background-color: #3b0042;
                    }
                }
            }
        }
    }

    .planet {
        position: relative;
        width: 45%;
        pointer-events: painted;

        .planet-button {
            position: absolute;

            &.reification-spot {
                top: -3%;
                left: 10%;
            }

            &.summon-betamon {
                top: 7%;
                right: 3%;
            }

            &.arena {
                top: 45%;
                right: -5%;
            }

            &.b-bank {
                right: 8%;
                bottom: 10%;
            }

            &.planet-mine {
                bottom: 5%;
                left: 10%;
            }
        }

        .planet-bg {
            padding-bottom: calc(100% / 835 * 731);
            width: 100%;
            background-size: 100% auto;
        }
    }
}
