$arrow-size-m: 30px;
$arrow-size: 60px;

.main-board {
    .nft-list {
        margin-top: calc(80% / 487 * 52);
        width: 100%;

        @media (min-width: 992px) {
            width: 55%;
        }

        .nft-container {
            text-align: center;
            pointer-events: painted;

            .fetching {
                position: relative;
                opacity: 0.5;
                pointer-events: none;
            }

            .arrow-btn {
                position: absolute;
                top: calc(50% - #{$arrow-size-m / 2});
                width: $arrow-size-m;
                height: $arrow-size-m;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: 3;
                cursor: pointer;

                &.right {
                    right: 0;
                }

                &.left {
                    left: 0;
                    transform: scaleX(-1);
                }

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }

                &:hover:not(.disabled) {
                    &.right {
                        transform: translateY(-2px);
                    }

                    &.left {
                        transform: translateY(-2px) scaleX(-1);
                    }
                }

                @media (min-width: 992px) {
                    top: calc(50% - #{$arrow-size / 2});
                    width: $arrow-size;
                    height: $arrow-size;

                    &.right {
                        right: #{-$arrow-size / 1.6};
                    }

                    &.left {
                        left: #{-$arrow-size / 1.6};
                    }
                }
            }

            .nft-title-board {
                position: absolute;
                top: 0;
                left: 10%;
                padding-bottom: calc(80% / 487 * 52);
                width: 80%;
                background-size: 100% auto;
                filter: contrast(1.2) brightness(-1);
                transform: translateY(-100%);

                .title-text {
                    position: absolute;
                    top: calc(50% - 0.75rem);
                    left: 0;
                    width: 100%;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    text-align: center;
                    line-height: 1.5rem;
                    color: #ff46bc;
                    z-index: 1;
                    letter-spacing: 0.5rem;

                    @media (min-width: 992px) {
                        font-size: 1.5rem;
                    }
                }
            }

            .nft-title {
                padding-top: 0.6rem;
                padding-bottom: 1rem;
                font-size: 1rem;
                font-weight: bolder;
                color: #fff;

                @media (min-width: 992px) {
                    font-size: 1.4rem;
                }
            }

            .nft-list-container {
                position: relative;
                overflow-x: hidden;
                white-space: nowrap;

                // &::-webkit-scrollbar {
                //     display: none;
                // }

                .nft-card {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    width: 45%;
                    border-radius: 1rem;

                    &:not(:last-of-type) {
                        margin-right: 3%;
                    }

                    .empty-card {
                        position: relative;
                        padding-bottom: 100%;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.2);

                        &::after {
                            position: absolute;
                            top: calc(50% - 2rem);
                            left: 0;
                            display: block;
                            width: 100%;
                            font-size: 4rem;
                            font-weight: bolder;
                            text-align: center;
                            color: #fff;
                            content: "?";
                            opacity: 0.3;
                        }
                    }

                    .card-pointer-area {
                        position: absolute;
                        top: 0;
                        bottom: 2rem;
                        left: 0;
                        width: 100%;
                        border-radius: 1rem;
                        z-index: 2;
                        cursor: pointer;

                        &.selected {
                            background-color: rgba(0, 0, 0, 0.3);
                            backdrop-filter: blur(3px);

                            .check-sign {
                                position: absolute;
                                top: calc(50% - 1.75rem);
                                left: calc(50% - 1.75rem);
                                display: block;
                                width: 3.5rem;
                                height: 3.5rem;
                            }
                        }
                    }

                    .check-sign {
                        display: none;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .nft-name {
                        padding: 0.5rem 0;
                        color: #a71fc1;
                        background-color: #3b0042;
                    }
                }
            }
        }
    }
}
