.loading-circle {
    position: relative;
    transform-origin: 50% 50%;
    transform: rotate(0);
    animation: svg-rotation 8s linear infinite;

    .path {
        stroke: #777;
        fill: transparent;
        stroke-width: 3;
        stroke-dasharray: 82;
        stroke-dashoffset: 0;
        animation: path-animation 0.6s linear infinite;
    }
}

@keyframes path-animation {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 164;
    }
}

@keyframes svg-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
