.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
    padding: 0.3rem;
    width: 100%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0 #fff;
    cursor: pointer;

    &.mt-0 {
        margin-top: 0;
    }

    & > .icon {
        margin-right: 0.5rem;
        width: 1.6rem;
        height: 1.6rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    & > .text {
        font-size: 1rem;
        font-weight: bolder;
    }

    &.twitter {
        background-color: #1accff;
    }

    &.discord {
        background-color: #5165f6;
    }

    &.opensea {
        background-color: #1167bb;
    }

    &.ig {
        background-color: #d73a5f;
    }
}
