.b-alien-slider {
    position: relative;
    height: 100%;
    z-index: 1;

    .b-alien {
        margin: 0 auto;
        width: 360px;
        height: 360px / 655 * 739;
        background-image: url("/assets/images/b_alien_1.png");
        background-size: 100% 100%;

        @media (min-width: 992px) {
            position: absolute;
            bottom: -8%;
            left: -43%;
            margin: 0;
        }
    }
}
