.feature-card {
    flex: 0 0 auto;
    width: 33.3333%;

    .feature-card-icon {
        position: relative;
        margin: 0 auto;
        padding-bottom: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 2;

        @for $i from 1 through 5 {
            &.idx-#{$i} {
                background-image: url("/assets/images/feature_icon_#{$i}.png");
            }
        }
    }

    .card-body {
        position: relative;
        margin: -50% 15px 0;
        padding: 36% 1.6rem 70px;
        width: calc(100% - 30px);
        font-weight: bolder;
        text-align: center;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.3);

        // border: 3px solid linear-gradient(to bottom, #fff 0%, #f03 50%, #8916f5 100%);
        border: 3px solid #ff89a1;
        border-radius: 2.4rem;
        z-index: 1;
        box-shadow: 0 0 50px #fff inset, 0 5px 30px rgba(0, 0, 0, 0.3);

        & > .title {
            font-size: 2.2rem;
            white-space: nowrap;
        }

        & > .desc {
            margin-top: 1.6rem;
            font-size: 1.3rem;
            line-height: 2.1rem;
        }
    }
}
