@import "src/styles/shared/variables";

.feature-card {
    position: relative;
    flex: 0 0 auto;
    width: 100%;

    @media (min-width: 992px) {
        width: 33.3333%;
    }

    .right-line {
        position: absolute;
        top: 300px;
        right: -15px;
        width: 29px;
        height: $line-width;
        background-color: #fff;
        z-index: 2;
    }

    .backdrop {
        position: absolute;
        top: 36%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(2px);
    }

    .feature-card-icon {
        position: relative;
        margin: 0 auto;
        padding-bottom: 80%;
        width: 80%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 2;

        @media (min-width: 992px) {
            padding-bottom: 100%;
            width: 100%;
        }
    }

    .card-body {
        position: relative;
        margin: -50% 15px 0;
        padding: 40% 10px 30px;
        width: calc(100% - 30px);
        font-weight: bolder;
        text-align: center;
        color: #fff;
        background-size: 100% 100%;
        border: 2px solid #fff;
        border-radius: 1.4rem;
        z-index: 1;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.5) inset, 0 5px 30px rgba(0, 0, 0, 0.3);

        & > .title {
            font-size: 1.6rem;
            font-weight: bolder;
        }

        & > .desc {
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 1.4rem;
        }

        & > .feature-btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            padding: 0.6rem 1rem;
            font-size: 1rem;
            font-weight: bolder;
            white-space: nowrap;
            color: #fff;
            background-color: #7b8eb4;
            border: 1px solid #fff;
            border-radius: 2rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            transform: translate(-50%, 50%);
            cursor: pointer;

            @media (min-width: 992px) {
                padding: 0.8rem 1.4rem;
                font-size: 1.2rem;
                transform: translate(-50%, -30%);
            }
        }

        @media (min-width: 992px) {
            padding: 36% 1rem 70px;
            border: 3px solid #ff89a1;
            border-radius: 2.4rem;
            box-shadow: 0 0 50px #fff inset, 0 5px 30px rgba(0, 0, 0, 0.3);

            & > .title {
                font-size: 1.8rem;

                &:not(.force-wrap) {
                    white-space: nowrap;
                }
            }

            & > .desc {
                margin-top: 1.6rem;
                font-size: 1.1rem;
                line-height: 2.1rem;
            }
        }

        @media (min-width: 1440px) {
            padding: 36% 1.6rem 70px;

            & > .title {
                font-size: 2.2rem;
            }

            & > .desc {
                font-size: 1.3rem;
            }
        }
    }
}
