.counter-area {
    margin: 0 4%;
    width: 92%;

    @media (min-width: 992px) {
        margin: 0.5rem auto;
        width: 680px;
    }

    .row {
        .col {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .counter {
        position: relative;

        .digit {
            position: relative;
            font-size: 3.6rem;
            font-family: "a4-speed";
            text-align: center;
            color: transparent;
            background-image: url("/assets/images/wave.gif");
            background-clip: text;
            z-index: 2;

            &.idx-2 {
                background-position: right top;
            }

            &.idx-3 {
                background-position: left center;
            }

            &.idx-4 {
                background-position: right center;
            }

            @media (max-width: 419.98px) {
                font-size: 3.2rem;
            }

            @media (min-width: 992px) {
                font-size: 6rem;
            }
        }

        .digit-shadow {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            font-size: 3.6rem;
            font-family: "a4-speed";
            text-align: center;
            color: #aa0397;
            z-index: 1;
            text-shadow:
                0 10px 50px #fb4bc2,
                0 10px 50px #fb4bc2,
                0 10px 30px #c100aa,
                0 5px 10px #aa0397;
            -webkit-text-stroke: 2px #fff;

            @media (max-width: 419.98px) {
                font-size: 3.2rem;
            }

            @media (min-width: 992px) {
                font-size: 6rem;
                -webkit-text-stroke: 4px #fff;
            }
        }

        .unit {
            position: relative;
            margin-top: -0.5rem;
            font-size: 0.9rem;
            text-align: center;
            color: #fff;
            z-index: 2;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

            @media (min-width: 992px) {
                margin-top: -1rem;
                font-size: 1.4rem;
            }
        }
    }
}
