.counter-area {
    margin-right: 0.5rem;
    width: 100%;

    @media (min-width: 992px) {
        margin: 0.5rem auto;
        width: 680px;
    }

    .row {
        .col {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .counter {
        position: relative;

        .digit {
            position: relative;
            font-size: 6rem;
            font-family: "a4-speed";
            text-align: center;

            // font-weight: bolder;
            color: transparent;
            background-clip: text;

            // filter: drop-shadow(0 0 20px #a04187);
            z-index: 2;
            background-image: url("/assets/images/wave.gif");

            &.idx-2 {
                background-position: right top;
            }

            &.idx-3 {
                background-position: left center;
            }

            &.idx-4 {
                background-position: right center;
            }
        }

        .digit-shadow {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            font-size: 6rem;
            font-family: "a4-speed";
            text-align: center;
            color: #aa0397;
            z-index: 1;

            // font-weight: bolder;
            text-shadow:
                0 10px 50px #fb4bc2,
                0 10px 50px #fb4bc2,
                0 10px 30px #c100aa,
                0 5px 10px #aa0397;
            -webkit-text-stroke: 4px #fff;
        }

        .unit {
            position: relative;
            margin-top: -1rem;
            font-size: 1.4rem;

            // font-weight: bolder;
            text-align: center;
            color: #fff;
            z-index: 2;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
}
