@import "src/styles/shared/variables";

.first-area {
    position: relative;
    padding-top: 120px;

    @media (min-width: 992px) {
        padding-top: $header-size + $header-flexible-size;
    }

    .front-container {
        position: relative;
        z-index: 2;
    }

    .b-alien-area {
        position: relative;
        display: none;
        margin: 50px auto 0;
        padding-bottom: calc(100% / 296 * 362); // 296 x 362
        width: 100%;

        // background-image: url("/assets/images/b_alien_pc.png");
        // background-repeat: no-repeat;
        // background-size: 100% auto;

        @media (min-width: 992px) {
            display: block;
            padding-bottom: calc(300px / 296 * 362);
            width: 300px;
        }

        .b-alien-wave {
            position: absolute;
            top: 20px;
            left: -7px;
            width: 314px;
            height: 314px;
            background-image: url("/assets/images/b_alien_wave.gif");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .b-alien-line {
            position: absolute;
            top: 20px;
            left: 55px;
            width: 190px;
            height: 190px / 424 * 729;
            background-image: url("/assets/images/b_alien.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .ground {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 296px;
            height: 129px;
            background-image: url("/assets/images/b_alien_ground.png");
            background-position: center bottom;
            background-size: 100% auto;
        }

        .spotlight {
            position: absolute;
            top: 50%;
            left: 0;
            padding-bottom: calc(80px / 156 * 328); // 156x328
            width: 80px;
            background-image: url("/assets/images/spotlight_left.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            transform: translate(-60%, -50%);
            animation: y-move 10s ease-in-out 0s infinite;

            &.reverse {
                right: 0;
                left: auto;
                transform: translate(60%, -50%) scaleX(-1);
                animation: y-move-2 10s cubic-bezier(0.435, -0.305, 0.55, 1.37) 0s infinite;
            }
        }
    }

    .reveal-time-area {
        position: relative;
        margin-top: -10px;
        margin-bottom: 10px;
        text-align: center;
        z-index: 1;

        .reveal-time {
            display: inline-block;
            padding: 0.2rem 0.8rem;
            font-size: 1rem;
            color: #fff;
            background-color: #ff46bc;
            border: 1px solid #fff;
            border-radius: 1rem;

            @media (min-width: 992px) {
                margin-bottom: 0;
                padding: 0.4rem 0.8rem;
                font-size: 1.2rem;
            }
        }
    }

    .title-area {
        margin-top: 1.6rem;
        text-align: center;

        & > .title {
            font-size: 1.8rem;
            font-weight: bolder;
            color: #fff;
            text-shadow: 0 2px 2px #9256a2, 0 2px 2px #9256a2, 0 4px 3px #652d7c, 0 4px 3px #652d7c;
        }

        & > .desc {
            margin-top: 1.2rem;
            font-size: 1rem;
            font-weight: bolder;
            line-height: 1.6rem;
            color: #fff;
            letter-spacing: 1px;
        }

        .lang-hgl-bg {
            display: inline-block;
            margin: 0 0.3rem;
            padding: 0 0.3rem;
            font-size: 1rem;
            line-height: 1.3rem;
            color: #e426b3;
            background-color: #fff;
        }

        @media (min-width: 992px) {
            margin-top: 3rem;

            & > .title {
                font-size: 3rem;
            }

            & > .desc {
                margin-top: 1.6rem;
                font-size: 1.6rem;
                line-height: 2.4rem;
                letter-spacing: 2px;
            }

            .lang-hgl-bg {
                margin: 0 0.5rem;
                padding: 0 0.5rem;
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
        }
    }

    .b-alien-area-sm {
        position: relative;
        margin: 3rem auto 0;
        width: 78%;

        @media (min-width: 992px) {
            display: none;
        }

        .b-alien-wave {
            padding-bottom: 100%;
            width: 100%;
            background-image: url("/assets/images/b_alien_wave.gif");
            background-repeat: no-repeat;
            background-size: 100% 100%;

            .b-alien-stroke {
                position: absolute;
                top: 3px;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("/assets/images/b_alien.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 60% auto;
            }

            .spotlight {
                position: absolute;
                top: 50%;
                left: 0;
                padding-bottom: calc(80px / 156 * 328); // 156x328
                width: 80px;
                background-image: url("/assets/images/spotlight_left.png");
                background-repeat: no-repeat;
                background-size: 100% auto;
                transform: translateY(-50%);

                &.reverse {
                    right: 0;
                    left: auto;
                    transform: translateY(-50%) scaleX(-1);
                }
            }
        }
    }
}

.link-area {
    @media (min-width: 992px) {
        display: none;
    }
}

@keyframes y-move {
    0% {
        top: 50%;
    }

    10% {
        top: 80%;
    }

    30% {
        top: 20%
    }

    40% {
        top: 50%;
    }

    100% {
        top: 50%;
    }
}

@keyframes y-move-2 {
    0% {
        top: 50%;
    }

    10% {
        top: 80%;
    }

    30% {
        top: 20%
    }

    40% {
        top: 50%;
    }

    100% {
        top: 50%;
    }
}
