.linking-animation-wrap {
    display: flex;
    align-items: center;

    .skull-outline-icon {
        width: 4rem;
        height: 4rem;
    }

    .wallet-icon {
        width: 3rem;
        height: 3rem;
    }

    > .skull-outline-icon,
    > .wallet-icon,
    .line-animation-area > .star-container .star {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .line-animation-area {
        position: relative;

        > .dotted-line {
            letter-spacing: 5px;
        }

        > .star-container {
            position: absolute;
            top: 2px;
            left: 0;
            animation: move-left-to-right 5s linear 0s infinite;

            .star {
                width: 1.4rem;
                height: 1.4rem;
                animation: sparkle 0.5s alternate linear infinite;
            }
        }
    }
}

@keyframes move-left-to-right {
    0% {
        left: 0;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        left: calc(100% - 1rem);
        opacity: 0;
    }
}

@keyframes sparkle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
