$angle-width: 4px;

.mint-block {
    position: relative;
    display: flex;
    margin: 150px auto 3.6rem;
    padding: 2rem;
    width: 90%;
    background-color: rgba(117, 17, 169, 0.9);
    border: 1px solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px #ff46bc, 0 0 20px #ff46bc, 0 0 20px #ff46bc;

    @media (min-width: 992px) {
        width: 800px;
    }

    > .b-alien-container-for-mint-block {
        margin-top: -26%;
        margin-left: -5%;
    }

    > .mint-body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -250px;
        color: #fff;
        flex: 1;

        &.single {
            flex-direction: column;
            margin-left: 0;
        }

        .mint-title {
            margin-top: 1.4rem;
            font-size: 1.6rem;
            font-weight: bolder;
        }

        > .body-left {
            flex: 1;
            padding: 2rem 2rem 2rem 220px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 1rem;
        }

        > .body-right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            flex-direction: column;
        }

        .mint-amount {
            display: flex;
            color: #fff;

            > .minus,
            > .plus {
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
                font-weight: bolder;
                text-align: center;
                line-height: 1.7rem;
                color: rgb(117, 17, 169);
                background-color: #fff;
                border-radius: 0.5rem;
                cursor: pointer;
            }

            > .amount {
                margin-right: auto;
                margin-left: auto;
                font-size: 3rem;
                font-family: "speed-a4";
                font-weight: bolder;
                line-height: 2rem;
            }
        }

        .mint-remain {
            margin-top: 2rem;
        }

        .mint-balance {
            margin-top: 0.4rem;
        }

        .mint-remain,
        .mint-balance {
            font-size: 1.2rem;
        }

        .total-price {
            display: flex;
            align-items: center;
            padding-left: 2rem;
            color: #fff;

            > .amount {
                margin: 0 0.5rem;
                font-size: 4rem;
                font-weight: bolder;
            }

            >.unit {
                font-size: 1.2rem;
                font-weight: bolder;
            }
        }
    }

    .note {
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 2rem;
        color: #fff;
    }

    .faq-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3rem 1rem;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #fff;
        background-color: #b379d6;
        border: 2px solid #fff;
        border-radius: 2rem;
        z-index: 2;
        transform: translate(20%, -20%);
        cursor: pointer;
    }

    > .angle {
        position: absolute;
        width: 2rem;
        height: 2rem;

        &.top {
            top: -$angle-width / 2;
            border-top: $angle-width solid #fff;

            &.left {
                border-radius: 1rem 0 0;
            }

            &.right {
                border-radius: 0 1rem 0 0;
            }
        }

        &.bottom {
            bottom: -$angle-width / 2;
            border-bottom: $angle-width solid #fff;

            &.left {
                border-radius: 0 0 0 1rem;
            }

            &.right {
                border-radius: 0 0 1rem;
            }
        }

        &.left {
            left: -$angle-width / 2;
            border-left: $angle-width solid #fff;
        }

        &.right {
            right: -$angle-width / 2;
            border-right: $angle-width solid #fff;
        }
    }
}
