.slashes-divider-wrapper {
    .slashes-divider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;

        > .content {
            width: 80%;
            font-size: 0.9rem;
            font-weight: bolder;
            text-align: center;
            line-height: 1.6rem;
            color: #fff;

            @media (min-width: 992px) {
                width: 26%;
                font-size: 1rem;
            }
        }
    }
}
