.wrapper {
    width: 100%;
    background-image: url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .container {
        width: 100%;

        @media (min-width: 992px) {
            width: 1024px;
        }

        @media (min-width: 1440px) {
            width: 1280px;
        }
    }
}
