@import "src/styles/shared/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-flexible-size-sm;
    width: 100%;
    z-index: 10;
    transition:
        padding-top 0.5s,
        box-shadow 0.5s,
        background-color 0.5s;

    @media (min-width: 992px) {
        padding-top: $header-flexible-size;
    }

    .blur-glass {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0);
        z-index: -1;
    }

    .header-container {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: calc(100% - 20px);
        height: $header-size-sm;

        @media (min-width: 992px) {
            width: calc(100% - 40px);
            height: $header-size;
        }

        @media (min-width: 1440px) {
            width: calc(100% - 180px);
        }

        .logo {
            margin-right: auto;
            width: $header-size-sm * 344 / 158;
            height: $header-size-sm;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 80% 80%;
            transition: transform 0.3s;
            cursor: pointer;

            @media (min-width: 992px) {
                width: $header-size * 344 / 158 * 0.8;
                height: $header-size * 0.8;
            }

            @media (min-width: 1440px) {
                width: $header-size * 344 / 158;
                height: $header-size;
            }
        }

        .nav-area {
            display: none;

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-around;

                // max-width: 850px;
                max-width: 650px;
                height: $header-size;
                flex: 1;
            }

            .nav {
                display: flex;
                align-items: center;
                cursor: pointer;

                .icon {
                    margin-right: 0.5rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;

                    @media (min-width: 1440px) {
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }

                .nav-text {
                    font-size: 1.5rem;
                    font-family: coco;
                    color: #fff;
                    flex: 1;
                    transition: font-size 0.3s, text-shadow 0.3s;

                    @media (min-width: 1440px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .lang-area {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            margin-left: auto;
            height: $header-size-sm;

            @media (min-width: 992px) {
                height: $header-size;
            }

            @media (min-width: 1440px) {
                margin-right: 40px;
            }
        }

        .roadmap-btn {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            height: $header-size-sm;

            & > .text {
                padding: 0.3rem 1rem;
                font-size: 1rem;
                font-weight: bolder;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 1rem;
            }
        }
    }

    &-scrolled {
        padding-top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid #fff;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8) inset;

        .logo {
            transform: scale(0.8);
        }

        .blur-glass {
            backdrop-filter: blur(6px);
        }

        .nav-text {
            font-size: 1.2rem !important;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        }

        .lang-nav {
            font-size: 1.2rem !important;
        }
    }
}
