.bg-effects {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 3000px;
    z-index: 1;

    .perspective-lines {
        position: relative;
        margin-left: calc(50% - 944.5px);
        width: 1889px;
        height: 884px;
        background-image: url("/assets/images/perspective_lines.png");
        background-size: 100% 100%;
        z-index: 2;
    }

    .speed-lines {
        position: absolute;
        top: -2100px;
        left: calc(50% - 2500px);
        width: 5000px;
        height: 5000px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0% 0%;
        background-image: url("/assets/images/speed_lines.png");

        @for $i from 0 through 5 {
            &.idx-#{$i + 1} {
                animation: speed-lines-scale 6s ease-in #{$i}s infinite;
            }
        }
    }

    @keyframes speed-lines-scale {
        0% {
            background-size: 0% 0%;
        }

        100% {
            background-size: 1000% 1000%;
        }
    }

    .black-hole {
        position: absolute;
        top: 0;
        left: calc(50% - 822.5px);
        width: 1645px;
        height: 1244px;
        background-image: url("/assets/images/black_hole.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }

    .stars {
        position: fixed;
        top: 0;
        left: calc(50% - 960px);
        width: 1920px;
        height: 2206px;
        background-repeat: repeat;
        background-size: 30% auto;
        background-image: url("/assets/images/stars.png");
        z-index: 1;
    }
}
